@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300&display=swap');


body {
  margin: 0;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 color:#747474;
 font-family:'Work Sans', sans-serif ;
 font-size:16px;
 overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.cadre{
  margin:0rem 9rem;
}


h1,h2,h3,h4,h5,h6{
  font-family: 'Work Sans', sans-serif;
}


.content{
  
  background: #e5faf8;
  background-image: linear-gradient(
-45deg
,rgba(0,204,177,.01) 5%,rgba(61,199,223,.1));
  padding: 1.875em 0 .625em;
  overflow: hidden;
  margin: 3.125rem auto 5.5rem;
  
}
.content-desc{
 
 
  padding: 20px 80px;
  margin: 0 auto;
  position: relative;
}
.item{
  padding:1.2rem 1rem;
  font-size: .8125em;
  background-color: white;
  justify-content: center;
  align-content: center;
  
  text-align: center;
  
  height:16rem;
  border-radius: 5px;
  line-height: 1.3;
  width:95%;

}


.item img{
  max-width:100%;
  height:auto;
 
  
}
.item h4{
  margin-top:40px;
}

.item p{
  margin-top: -1rem;
}
.trans :nth-child(2){
  transform: translateY(-30px);
}

.join{
  
  margin: 5rem 9rem;
  font-size: .875em;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  
}
.join h3{
  font-size: 2.1428571429em;
  color: #333;
  margin-bottom: .75em;
}
.join Button{
  font-size:12px;
  padding:15 px 18px;
}
.footer{
  border-top:1px solid #e2e1e1;
padding-top:2.2rem;
padding-bottom:0.5rem;
font-size:14spx;
color: #ababab;



}
.footer small{

line-height: 1;
}


@media screen and (max-width: 753px) {
  .cadre {
    margin:0rem 2rem;
  }
}

.title-card{
  font-size:1.5rem;
  font-family:'Work Sans', sans-serif ;
  
}